
body{
    width: 1030px;
  
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(17,69,79);
}
th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(17,69,79);
    background-color: rgb(212, 143, 39);
    padding: 9px;
}
audio{
    width: 150px;
    height: 30px;
    margin-left: 1000px;
}
a{
    text-decoration: none;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
}