table ,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
th, td {
    padding: 9px;
}
th {
    background-color: rgba(148, 160, 160, 0.747);
}
table{
    width: 100%;
}
td {
    width: 130px;
}
h1 ,h2 {
    text-align: center;
    color: rgba(255, 0, 0, 0.671);
}
