table ,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
th, td {
    padding: 9px;
}
th {
    background-color: rgb(160, 170, 170);
}
table{
    width: 100%;
}